<div class="search-event">
        <div class="box data day">
            <p><%= event.day %></p>
        </div>
        <div class="box data month">
            <p><%= event.month %></p>
        </div>
        <div class="box city">
            <p><%= event.city %></p>
        </div>
        <div class="box venue">
            <p><%= event.venue %></p>
        </div>
        <div class="box button tickets">
            <a href="<%= event.urlToBuyTickets %>"><button class="button-tickets">Tickets</button></a>
        </div>


    <form action="/add-saved-seats" method= "post">
        <input type="hidden" name="artistName" value="<%= event.artistName %>">
        <input type="hidden" name="month" value="<%= event.month %>">
        <input type="hidden" name="day" value="<%= event.day %>">
        <input type="hidden" name="year" value="<%= event.year %>">
        <input type="hidden" name="hour" value="<%= event.hour %>">
        <input type="hidden" name="minute" value="<%= event.minute %>">
        <input type="hidden" name="am_pm" value="<%= event.amOrPm %>">
        <input type="hidden" name="city" value="<%= event.city %>">
        <input type="hidden" name="state" value="<%= event.state %>">
        <input type="hidden" name="country" value="<%= event.country %>">
        <input type="hidden" name="venue" value="<%= event.venue %>">
        <input type="hidden" name="lineup" value="<%= event.lineup %>">
        <input type="hidden" name="url" value="<%= event.urlToBuyTickets %>">
        <input type="hidden" name="ticket_available" value="<%= event.ticketAvailability %>">
        <div class="box button saveaseat">
        <button type="submit" class="button-saveaseat">Save</button>
        </div>
    </form>

</div>