<!-- <p><%= event.day %></p>
<p><%= event.month %></p>
<p><%= event.year %></p>
<p><%= event.hour %></p>
<p><%= event.minute %></p>
<p><%= event.amOrPm %></p>
<p><%= event.city %></p>
<p><%= event.state %></p>
<p><%= event.country %></p>
<p><%= event.venue %></p>
<p><%= event.lineup %></p>
<a href="<%= event.urlToBuyTickets %>">Buy Ticket(s)</a>
 -->




<!-- ----------------------------------------------------------- -->

<!-- if doesnt work remove p tag  -->

    <div class="saved-event">
            <div class="saved data day">
                <p><%= event.day %></p>
            </div>
            <div class="saved data month">
                <p><%= event.month %></p>
            </div>
            <div class="saved data year">
                <p><%= event.year %></p>
            </div>
            <div class="saved data time">
                <p><%= event.hour + ':' + event.minute + ' ' + event.am_pm %></p>
            </div>
            <div class="saved name">
                    <p><%= event.artistName %></p>
                </div>
            <div class="saved lineup">
                <p><%= event.lineup %></p>
            </div>
            <div class="saved city">
                <p><%= event.city + ' ' + event.state %></p>
            </div>
            <div class="saved country">
                <p><%= event.country %></p>
            </div>
            <div class="saved venue">
                <p><%= event.venue %></p>
            </div>
            <div class="saved-button-tickets">
                <a href="<%= event.urlToBuyTickets %>"><button id="saved-button-tickets">Tickets</button></a>
            </div>
            <div class="saved-button-delete">
                <form action="/delete/<%= event.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                    <button id="saved-button-delete">Delete</button>
                </form>
            </div>
        </div>