<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>
<body class="wrapper">
        <%- include('../partials/header') %>
    <main class="search-page">
        <div class="search-input">
            <form id="search-form" action="/search" method="GET">
                <label for="search">Search for a artist</label>
                <input type="text" name="search" id="search-input-field" placeholder="Enter a artist here">
                <button id="button-find" type="submit">Find</button>
            </form>
        </div>
        <div class="search-results">
        <% if ((typeof(eventList) === 'object') && (eventList.length > 0)) { %>
          <% eventList.forEach((event) => { %>
            <article>
              <%- include('../partials/event', {event: event}) %>
            </article>
          <% }) %>
          <% } else if ((typeof(eventList) === 'object') && (eventList.length === 0)){ %>
            <p class="no-upcoming-events"> <%= eventList %></p>
            <% } else { %>
            <p class="no-upcoming-events"> <%= eventList %></p>
            <img class="idontknowher" src="../img/idontknowher.jpg">
           <% } %>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>