<!DOCTYPE html>
<html>
        <%- include('../partials/head') %>

<body class="wrapper">

        <%- include('../partials/header') %>

    <main>



        <div class="saved-seats">
            <% if (typeof(eventList) !== 'string') { %>
                <% eventList.forEach((event) => { %>
                    <article>
                    <%- include('../partials/event', {event: event}) %>
                    </article>
                <% }) %>
            <% } else { %>
                <p><%= eventList %></p>
            <% } %>
        </div>

        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>